.card{
    padding: 2.4rem;

    background: white;

    border: 1px solid var(--brandGreenLight);
    border-radius: 0.6rem;
    text-align: left;

    box-shadow: var(--background) 0.5px 0.5px 5px;
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}


#services .card h3{
    margin-block: 1.6rem;
}

#services .card p{
    color: var(--grayParagraph);
}