.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
 bottom: -5rem;
}

.testimunial blockquote{
  text-indent: 3rem;
  padding-inline: 3.2rem;
  padding-block: 3.2rem 0rem;
}

.testimunial cite{
  display: flex;
  margin: 3rem 36.5rem 2rem 3.2rem;
}

.testimunial blockquote span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4.8rem;
  color: var(--brandGreen);
  position: absolute;
  top: 5rem;
  left: 3.1rem;
}

.swiper-pagination-bullet{
  background-color: var(--brandGreenHover);
}

.swiper-pagination-bullet-active{
  background-color: var(--brandGreen);
}
