.toTheTopButton{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    visibility: hidden;

    transition: 300ms;
    transform: translateY(100%);

    z-index: 450;
}

body a.show{
    transform: translateY(0);
    visibility: visible;
}

body.menu-expanded .toTheTopButton{
    transform: translateY(100%);
}