body a.toTheTopButton circle,
nav .logo path[fill*="#00856F"]{
    fill: var(--brand);
}

#services .card circle{
    fill: var(--brandLight);
}

#contact li path,
nav .open-menu path{
    stroke: var(--brand);
}
